.Proyect {
  position: relative;
  box-shadow: 0 2px 4px $boxShadow;
  margin-bottom: 1rem;
  &-img {
    height: 200px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0,
        var(--skColorDarkest),
        transparent
      );
      opacity: 0.5;
    }
  }
  &-progress {
    width: 100px;
    height: 100px;
    position: relative;
    top: -40px;
    margin: auto;
    background: var(--skColorDarkest);
    border-radius: 100%;
    border: 5px solid var(--skColorBgAlt);
  }
  &-content {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  &-footer{
    padding: 1rem;
    text-align: center;
  }
  &-title {
    text-align: center;
    font-size: 1rem;
  }
}

.ProDeObjetive {
  // box-shadow: 0 2px 5px $boxShadow;
  // border-left: 4px solid var(--skColor1);
  @include to(m){
    margin-top: 2rem;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-size: 1rem;
    @include to(m){
      flex-direction: column;
      text-align: center;
      align-items: center;
      strong{
        margin-bottom: 1rem;
        display: block;
      }
    }
  }
  &-body{
    background: var(--skColorBg);
    border-radius: 8px;
    @include to(m){
      margin: 0 -1rem;
    }
  }
}

.ObjetiveSlide{
  padding: 1rem;
  ul{
    max-height: 30vh;
    overflow-y: auto;
  }
}

.carousel-inner{
  padding-bottom: 2rem;
}

.carousel-indicators {
    li{
        bottom: 0;
        margin-bottom: 0px;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background: var(--skColorDarkSmooth);
        border: 0;
        opacity: 1;
    }
    .active {
      background-color: var(--skColor1);
    }
}
.carousel-control-prev,
.carousel-control-next{
  background: var(--skColorDarkSmooth);
  opacity: 1;
  height: 25px;
  top: 50%;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  &:hover,
  &:focus{
    background: var(--skColorDarker);
  }
}