:root{
    --skColor1Lighter4: #E6F7FF;
    --skColor1Lighter3: #BAE7FF;
    --skColor1Lighter2: #91D5FF;
    --skColor1Lighter: #69C0FF;
    --skColor1Light: #40A9FF;
    --skColor1: #1890FF;
    --skColor1Dark: #096DD9;
    --skColor1Darker: #0050B3;
    --snColor1Darker2: #003A8C;
    --snColor1Darker3: #002766;
    --skColor1Inverse: #FFFFFF;

   --skColorBg: #f5f5f5;
   --skColorBgAlt: #ffffff;
   --skColorHover: #0000000d;

   --skColorText: #333333;
   --skColorTextAlt: #ABABAB;

   --skColorBorder: #DFE2E2;

   --skColorDarkSmoother: #4f7087;
   --skColorDarkSmooth: #3c5567;
   --skColorDark: #2a3b47;
   --skColorDarker: #22303a;
   --skColorDarkest: #1a252d;
   --skColorDarkInverse: #b6bcc0;
}

$AdminLayoutAsideWidth: 270px;
$AdminLayoutAsideSmallWidth: 64px;
$AdminLayoutHeaderHeight: 64px;

@import 'util';
@import 'admin/AdminLayout';
@import 'admin/AdminSidebar';
@import 'admin/AdminHeader';
@import 'admin/TopToolbar';
@import 'Proyect';

.CrudHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}